<ion-view view-title="Password change">

    <ion-content class="padding">
        <div class="padding">
            <p>Enter a new password for My Mood Minder:</p>

            <label class="item item-input">
                <input type="password" placeholder="New password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm new password" ng-model="user.password_confirm">
            </label>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-block button-positive" ng-disabled="!user.password_confirm || !user.password" ng-click="changePassword(user)">
                        Change
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-block button-outline button-positive" ui-sref="tab.settings">
                        Cancel
                    </button>
                </div>
            </div>
        </div>

        <div ng-if="msgs.connectionProblem" class="card card-assertive padding">
            There was a problem connecting to the server, so your
            password was not changed. Please try again later.
        </div>

        <div ng-if="msgs.passwordMismatch" class="card card-assertive padding">
            The passwords you entered did not match. Please try again.
        </div>
        
    </ion-content>

</ion-view>
