<ion-view view-title="About the QIDS score">
    
    <ion-content class="padding">
        
        <div class="padding">
            
            <h4>The QIDS questionnaire</h4>
            <p>Blahnlkdjsdkjs</p>
            
            <h4>What do the scores mean?</h4>
            <p>Bskldhjjh</p>
            
            <h4>How are scores calculated?</h4>
            <p>jlhkjhfkjhdkjhsdkjhf</p>
        </div>
       
    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
