<ion-view view-title="Login" name="login-view">

    <ion-content>
        <div class="login-banner">
            my mood minder
        </div>
        <div class="padding">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="credentials.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="credentials.password">
                </label>
            </div>

            <button class="button button-block button-calm" ng-click="login(credentials)">Login</button>


            <div ng-if="wrongCredentials" class="card">
                <div class="item item-text-wrap item-assertive">
                    Sorry, the username and/or password you have provided are incorrect. Please try again.
                </div>
            </div>

            <div ng-if="cannotConnect" class="card">
                <div class="item item-text-wrap item-assertive">
                    Sorry, there was a problem verifying your password with the server. Please try again later.
                </div>
            </div>
            <div ng-if="registrationFailure" class="card">
                <div class="item item-text-wrap item-assertive">
                    Sorry, there was a problem registering your device for notifications. Please try again later.
                </div>
            </div>
        </div>

    </ion-content>




</ion-view>
