<ion-view view-title="Data handling">

    <ion-content>
        <div class="padding">
            <div class="padding">
                <p><h4>How is information stored and protected?</h4>
                    Your information will be stored confidentially and
                    anonymously. All participant information is stored on
                    password protected computer databases and in locked filing
                    cabinets and will only be accessible to the University of
                    Aberdeen research team and regulatory authorities for
                    auditing and monitoring purposes. You will be allocated a
                    unique study number and staff not directly involved with
                    you will know you only by this number.</p>

                <p><h4>How may my information be used?</h4>
                    When the results of the study are reported, individuals
                    who have taken part will not be identified in any way. The
                    interview will not be replayed to anybody outside the
                    research team unless for auditing and monitoring purpose
                    by regulatory authorities. Anonymised direct quotes from
                    your interview may be published in the study’s
                    findings. Anonymised data may also be shared with
                    researchers from other academic institutions.</p>
            </div>
        </div>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
