<ion-view view-title="Questionnaire response">
    <ion-content class="padding">


        <!-- Here will go all the QIDS questions, scrollable -->
        <form action="">

            <!-- 1 -->
            <div class="card">
                <div class="item item-divider">
                    <!-- Question -->
                    Falling asleep
                </div>
                <div class="item item-text-wrap">
                    <!-- Answers with radios -->
                    <div class="list" id="qids-qa-1">
                        <label class="item item-radio">
                            <input type="radio" name="qids-1" value="a"/>
                            <div class="item-content">
                                Answer 1
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="qids-1" value="b"/>
                            <div class="item-content">
                                Answer 2
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="qids-1" value="c"/>
                            <div class="item-content">
                                Answer 3
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" name="qids-1" value="d"/>
                            <div class="item-content">
                                Answer 4
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </div>
            </div>
        </form>


    </ion-content>
</ion-view>
