<ion-view view-title="Questionnaire response">
    <ion-content class="padding">


        <!-- Here will go all the QIDS questions, scrollable -->
        <form action="">
            <!-- START OF FORM

            <div class="list">

                <!-- QUESTION 1 -->
                <div class="item item-divider">
                    <!-- Question -->
                    Falling asleep
                </div>
                <!-- Answers with radios -->
                <div class="list" id="qids-qa-1">
                    <label class="item item-radio">
                        <input type="radio" name="qids-1" value="a"/>
                        <div class="item-content">
                            Answer 1
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-1" value="b"/>
                        <div class="item-content">
                            Answer 2
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-1" value="c"/>
                        <div class="item-content">
                            Answer 3
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-1" value="d"/>
                        <div class="item-content">
                            Answer 4
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>

            <div class="list">

                <!-- QUESTION 1 -->
                <div class="item item-divider">
                    <!-- Question -->
                    Sleeping at night
                </div>
                <!-- Answers with radios -->
                <div class="list" id="qids-qa-2">
                    <label class="item item-radio">
                        <input type="radio" name="qids-2" value="a"/>
                        <div class="item-content">
                            Answer 1
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-2" value="b"/>
                        <div class="item-content">
                            Answer 2
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-2" value="c"/>
                        <div class="item-content">
                            Answer 3
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                    <label class="item item-radio">
                        <input type="radio" name="qids-2" value="d"/>
                        <div class="item-content">
                            Answer 4
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </label>
                </div>
            </div>


            <!-- END OF FORM -->
        </form>


    </ion-content>
</ion-view>
