<ion-view view-title="Questionnaire Response">
    <ion-content class="padding">

        <div class="list"">
            <div class="item item-text-wrap" ng-if="response.q1">
                <h2>{{text.q1.q}}</h2>
                {{text.q1[response.q1]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q2">
                <h2>{{text.q2.q}}</h2>
                {{text.q2[response.q2]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q3">
                <h2>{{text.q3.q}}</h2>
                {{text.q3[response.q3]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q4">
                <h2>{{text.q4.q}}</h2>
                {{text.q4[response.q4]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q5">
                <h2>{{text.q5.q}}</h2>
                {{text.q5[response.q5]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q6">
                <h2>{{text.q6.q}}</h2>
                {{text.q6[response.q6]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q7">
                <h2>{{text.q7.q}}</h2>
                {{text.q7[response.q7]}}
            </div>




            <div class="item item-text-wrap" ng-if="response.q8">
                <h2>{{text.q8.q}}</h2>
                {{text.q8[response.q8]}}
            </div>




            <div class="item item-text-wrap" ng-if="response.q9">
                <h2>{{text.q9.q}}</h2>
                {{text.q9[response.q9]}}
            </div>



            <div class="item item-text-wrap" ng-if="response.q10">
                <h2>{{text.q10.q}}</h2>
                {{text.q10[response.q10]}}
            </div>


            <div class="item item-text-wrap" ng-if="response.q11">
                <h2>{{text.q11.q}}</h2>
                {{text.q11[response.q11]}}
            </div>

            <div class="item item-text-wrap"  ng-if="response.q12">
                <h2>{{text.q12.q}}</h2>
                {{text.q12[response.q12]}}
            </div>

            <div class="item item-text-wrap" ng-if="response.q13">
                <h2>{{text.q13.q}}</h2>
                {{text.q13[response.q13]}}
            </div>

            <div class="item item-text-wrap" ng-if="response.q14">
                <h2>{{text.q14.q}}</h2>
                {{text.q14[response.q14]}}
            </div>

            <div class="item item-text-wrap" ng-if="response.q15">
                <h2>{{text.q15.q}}</h2>
                {{text.q15[response.q15]}}
            </div>

            <div class="item item-text-wrap" ng-if="response.q16">
                <h2>{{text.q16.q}}</h2>
                {{text.q16[response.q16]}}
            </div>
        </div>



    </ion-content
</ion-view>
