<ion-view view-title="New Entry">
    <ion-content>

        <!-- Here will go all the QIDS questions, scrollable -->
        <form name="QIDSResponseForm" ng-submit="createResponse(response)" ng-model="response">
            <!-- START OF FORM -->
            <!-- QUESTION 1 -->

            <ion-slide-box show-pager="true" on-slide-changed="slideChanged(index)" >

                <ion-slide>
                    <div class="list card" id="qids-qa-1">

                        <div class="item item-divider">
                            <!-- Question -->
                            1. {{text.q1.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q1"/>
                            <div class="item-content item-text-wrap">
                                {{text.q1[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q1"/>
                            <div class="item-content item-text-wrap">
                                {{text.q1[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q1"/>
                            <div class="item-content item-text-wrap">
                                {{text.q1[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q1"/>
                            <div class="item-content item-text-wrap">
                                {{text.q1[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 2 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-2">

                        <div class="item item-divider">
                            <!-- Question -->
                            2. {{text.q2.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q2"/>
                            <div class="item-content item-text-wrap">
                                {{text.q2[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q2"/>
                            <div class="item-content item-text-wrap">
                                {{text.q2[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q2"/>
                            <div class="item-content item-text-wrap">
                                {{text.q2[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q2"/>
                            <div class="item-content item-text-wrap">
                                {{text.q2[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 3 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-3">

                        <div class="item item-divider">
                            <!-- Question -->
                            3. {{text.q3.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q3"/>
                            <div class="item-content item-text-wrap">
                                {{text.q3[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q3"/>
                            <div class="item-content item-text-wrap">
                                {{text.q3[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q3"/>
                            <div class="item-content item-text-wrap">
                                {{text.q3[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q3"/>
                            <div class="item-content item-text-wrap">
                                {{text.q3[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>


                <!-- QUESTION 4 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-4">

                        <div class="item item-divider">
                            <!-- Question -->
                            4. {{text.q4.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q4"/>
                            <div class="item-content item-text-wrap">
                                {{text.q4[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q4"/>
                            <div class="item-content item-text-wrap">
                                {{text.q4[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q4"/>
                            <div class="item-content item-text-wrap">
                                {{text.q4[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q4"/>
                            <div class="item-content item-text-wrap">
                                {{text.q4[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <ion-slide>
                    <!-- QUESTION 5 -->
                    <div class="list card" id="qids-qa-5">

                        <div class="item item-divider">
                            <!-- Question -->
                            5. {{text.q5.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q5"/>
                            <div class="item-content item-text-wrap">
                                {{text.q5[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q5"/>
                            <div class="item-content item-text-wrap">
                                {{text.q5[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q5"/>
                            <div class="item-content item-text-wrap">
                                {{text.q5[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q5"/>
                            <div class="item-content item-text-wrap">
                                {{text.q5[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 6/7 -->
                <ion-slide>

                    <div class="list card" id="qids-qa-6-7-a">
                        <div ng-class="{'ion-plus-circled': !showQ6, 'ion-minus-circled': showQ6}"class="item item-divider icon icon-left item-text-wrap" ng-click="toggleQ6()">
                            <!-- Question -->
                            6. {{text.q6.q}}
                        </div>
                        <!-- Answers with radios -->
                        <div ng-show="showQ6">
                            <label class="item item-radio">
                                <input type="radio" value="0" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap ">
                                    {{text.q6[0]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="1" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q6[1]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="2" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q6[2]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="3" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q6[3]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                    </div>

                    <div class="list card" id="qids-qa-6-7-b">
                        <div ng-class="{'ion-plus-circled': !showQ7, 'ion-minus-circled': showQ7}"  class="item icon icon-left item-divider item-text-wrap" ng-click="toggleQ7()">
                            <!-- Question -->
                            7. {{text.q7.q}}
                        </div>
                        <div ng-show="showQ7">
                            <label class="item item-radio">
                                <input type="radio" value="4" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q7[0]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="5" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q7[1]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="6" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q7[2]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="7" ng-model="$parent.$parent.response.q6_7"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q7[3]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                    </div>

                    <div class="padding padding-vertical" ng-if="!showQ6 && !showQ7">
                        <div class="padding">
                            <h3>Please completed either question 6 or 7.</h3>
                        </div>
                    </div>

                </ion-slide>



                <!-- QUESTION 8/9 -->
                <ion-slide>

                    <div class="list card" id="qids-qa-8-9-a">

                        <div ng-class="{'ion-plus-circled': !showQ8, 'ion-minus-circled': showQ8}" class="item icon icon-left item-divider item-text-wrap" ng-click="toggleQ8()">
                            <!-- Question -->
                            8. {{text.q8.q}}
                        </div>
                        <!-- Answers with radios -->
                        <div ng-show="showQ8">
                            <label class="item item-radio">
                                <input type="radio" value="0" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q8[0]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="1" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q8[1]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="2" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q8[2]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="3" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q8[3]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                    </div>

                    <div class="list card" id="qids-qa-8-9-b">
                        <div ng-class="{'ion-plus-circled': !showQ9, 'ion-minus-circled': showQ9}"class="item icon icon-left item-divider item-text-wrap" ng-click="toggleQ9()">
                            <!-- Question -->
                            9. {{text.q9.q}}
                        </div>
                        <div ng-show="showQ9">
                            <label class="item item-radio">
                                <input type="radio" value="4" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q9[0]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="5" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q9[1]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="6" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q9[2]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input type="radio" value="7" ng-model="$parent.$parent.response.q8_9"/>
                                <div class="item-content item-text-wrap">
                                    {{text.q9[3]}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                    </div>


                    <div class="padding padding-vertical" ng-if="!showQ8 && !showQ9">
                        <div class="padding">
                            <h3>Please completed either question 8 or 9.</h3>
                        </div>
                    </div>
                </ion-slide>


                <!-- QUESTION 10 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-10">

                        <div class="item item-divider">
                            <!-- Question -->
                            10. {{text.q10.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q10"/>
                            <div class="item-content item-text-wrap">
                                {{text.q10[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q10"/>
                            <div class="item-content item-text-wrap">
                                {{text.q10[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q10"/>
                            <div class="item-content item-text-wrap">
                                {{text.q10[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q10"/>
                            <div class="item-content item-text-wrap">
                                {{text.q10[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 11 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-11">

                        <div class="item item-divider">
                            <!-- Question -->
                            11. {{text.q11.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q11"/>
                            <div class="item-content item-text-wrap">
                                {{text.q11[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q11"/>
                            <div class="item-content item-text-wrap">
                                {{text.q11[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q11"/>
                            <div class="item-content item-text-wrap">
                                {{text.q11[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q11"/>
                            <div class="item-content item-text-wrap">
                                {{text.q11[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 12 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-12">

                        <div class="item item-divider">
                            <!-- Question -->
                            12. {{text.q12.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q12"/>
                            <div class="item-content item-text-wrap">
                                {{text.q12[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q12"/>
                            <div class="item-content item-text-wrap">
                                {{text.q12[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q12"/>
                            <div class="item-content item-text-wrap">
                                {{text.q12[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q12"/>
                            <div class="item-content item-text-wrap">
                                {{text.q12[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 13 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-13">

                        <div class="item item-divider">
                            <!-- Question -->
                            13. {{text.q13.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q13"/>
                            <div class="item-content item-text-wrap">
                                {{text.q13[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q13"/>
                            <div class="item-content item-text-wrap">
                                {{text.q13[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q13"/>
                            <div class="item-content item-text-wrap">
                                {{text.q13[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q13"/>
                            <div class="item-content item-text-wrap">
                                {{text.q13[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 14 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-14">

                        <div class="item item-divider">
                            <!-- Question -->
                            14. {{text.q14.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q14"/>
                            <div class="item-content item-text-wrap">
                                {{text.q14[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q14"/>
                            <div class="item-content item-text-wrap">
                                {{text.q14[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q14"/>
                            <div class="item-content item-text-wrap">
                                {{text.q14[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q14"/>
                            <div class="item-content item-text-wrap">
                                {{text.q14[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>


                <!-- QUESTION 15 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-15">

                        <div class="item item-divider">
                            <!-- Question -->
                            15. {{text.q15.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q15"/>
                            <div class="item-content item-text-wrap">
                                {{text.q15[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q15"/>
                            <div class="item-content item-text-wrap">
                                {{text.q15[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q15"/>
                            <div class="item-content item-text-wrap">
                                {{text.q15[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q15"/>
                            <div class="item-content item-text-wrap">
                                {{text.q15[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>

                <!-- QUESTION 16 -->
                <ion-slide>
                    <div class="list card" id="qids-qa-16">

                        <div class="item item-divider">
                            <!-- Question -->
                            16. {{text.q16.q}}
                        </div>
                        <!-- Answers with radios -->
                        <label class="item item-radio">
                            <input type="radio" value="0" ng-model="$parent.$parent.response.q16"/>
                            <div class="item-content item-text-wrap">
                                {{text.q16[0]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="1" ng-model="$parent.$parent.response.q16"/>
                            <div class="item-content item-text-wrap">
                                {{text.q16[1]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="2" ng-model="$parent.$parent.response.q16"/>
                            <div class="item-content item-text-wrap">
                                {{text.q16[2]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                        <label class="item item-radio">
                            <input type="radio" value="3" ng-model="$parent.$parent.response.q16"/>
                            <div class="item-content item-text-wrap">
                                {{text.q16[3]}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </label>
                    </div>
                </ion-slide>


                <ion-slide>
                    <div class="padding">
                        <h4>Well done!</h4>
                        <p>You've completed an entry. If you'd like to add some notes about this entry, tap the box below.</p>

                        <label class="item item-input">
                            <input type="text" placeholder="Notes..." ng-model="$parent.$parent.response.note">
                        </label>

                        <p>Tap the save button below to store your response. </p>
                        <p>If you'd like to go back and change any of your answers, press the back button below."</p>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <!-- submit button -->


            <!-- END OF FORM -->

            <div class="row">
                <div class="col" ng-show="showBack">
                    <div class="padding">
                        <button type="button" class="button button-small button-block button-clear icon-left ion-chevron-left button-calm" ng-click="back()">Back</button>
                    </div>
                </div>
                <div class="col" ng-show="showFwd">
                    <div class="padding">
                        <button type="button" class="button button-small button-block button-clear icon-right ion-chevron-right button-calm" ng-click="next()">Next</button>
                    </div>
                </div>
                <div class="col" ng-show="!showFwd">
                    <div class="padding">
                        <button type="submit" class="button button-small button-block button-positive icon-right ion-paper-aeroplane">Save</button>
                    </div>
                </div>
            </div>
        </form>






    </ion-content>
</ion-view>
