<ion-nav-view></ion-nav-view>

<ion-view view-title="Entry details">
    <ion-content class="padding">

        <div class="list">

            
            <div ng-repeat="(key, value) in response"  class="item item-text-wrap" ng-if="key.charAt(0) == 'q' && value">
                <h2>{{text[key].q}}</h2>
                {{text[key][value]}}
            </div>
           
        </div>

        <button class="button button-block button-assertive" ng-click="delete(response)">Delete entry</button>

    </ion-content
</ion-view>
