<ion-view view-title="About the QIDS score">

    <ion-content class="padding">

        <div class="padding">

            <h4>What do symptom scores mean?</h4>
            <p>A score will be calculated if you answer all
                questions for a symtom record.</p>

            <p><strong>A higher score indicates that you are
                experiencing more symptoms of depression.</strong></p>

            <p>The maximum
                score is 27 and the minimum score is 0.  If you wish to
                share your responses with family, friends or health
                professionals you can choose to do so yourself.</p>

            <p>If you think your score is high or you are worried
                about your symptoms worsening, contact your GP or
                other contacts listed in the help and support section.</p>
        </div>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
