<ion-nav-view></ion-nav-view>

<ion-view view-title="{{response.completed_at | amCalendar}}">
    <ion-content class="padding">



        <div>
            <p ng-if="!response.score">We couldn't calculate your score for this entry, because some answers are missing.</p>

            <div ng-if="response.score" class="row">
                <div class="col col-33">
                    <div ui-sref="tab.qids-help" class="score"><sup>{{response.score}}</sup><span class="score-denominator">/<sub>27</sub></span></div>
                </div>
                <div class="col col-67">
                    <p>This score is based on the answers you gave in this symptom record.</p>
                </div>
            </div>
                      
            <button ui-sref="tab.qids-help" type="button" class="button button-clear button-positive">
                <span ng-if="response.score">What does this score mean?</span>
                <span ng-if="!response.score">About symptom scores</span>
            </button>
        </div>

        <div class="card" ng-if="response.note">
            <div class="item item-divider">
                My personal notes about this record
            </div>
            <div class="item item-text-wrap">
                {{response.note}}
            </div>
        </div>


        <div class="list">
            <div class="item item-divider">
                Answers
            </div>
            <div ng-repeat="(key, value) in response"  class="item item-text-wrap" ng-if="key.charAt(0) == 'q' && value">
                <h2>{{text[key].q}}</h2>
                {{text[key][value]}}
            </div>

        </div>

        <button class="button button-block button-assertive" ng-click="delete(response)">Delete entry</button>

    </ion-content
</ion-view>
