<ion-nav-view></ion-nav-view>

<ion-view view-title="Overview">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-divider">Progress</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>


        <ion-list class="list list-inset">
            <div class="item item-divider">Recent activity</div>
            <ion-item class="item item-remove-animate item-icon-right" ng-repeat="qids_response in qids_responses" type="item-text-wrap" href="#/tab/timepoint/{{timepoint.id}}">
                <h2>QIDS Response</h2>
                <p>{{qids_response.completed_at}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!-- <ion-option-button class="button-assertive" ng-click="remove(timepoint)">-->
                <!--    Delete -->
                <!-- </ion-option-button> -->
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>s
