<ion-view view-title="Participant information">
    <ion-content class="padding">
        <h2>Participant Information Sheet</h2>
        <h4>
            My Mood Minder: A mobile phone application for people receiving
            treatment for depression
        </h4>
        <!--p>
            We would like you to consider this research study and then
            decide whether or not you wish to take part. It is
            important for you to understand why the research is being
            done and what it will involve. Please take time to read
            the following information carefully and to decide whether
            or not you wish to take part.
		</p-->

        <h4>What is the purpose of this study?</h4>
        <p>
            Previous research has found that people do not always
            stick to their anti-depressant treatment plan. The
            research team have designed a mobile phone application
            (app) in collaboration with people with depression to help
            with the depression treatment plan. This study aims to get
            feedback about whether or not the mobile phone app is
            helpful to people who are receiving treatment for
            depression. The app has two main functions.  1. The app
            will send you daily texts which can be chosen by you to
            suit your needs. The texts may contain encouraging
            messages or information which might help people with
            depression.  2. The other function is a symptom
            tracker. This will involve filling in a weekly
            questionnaire (symptom record) about the symptoms of
            depression and the app will allow you to review it
            whenever you like.</p>

        <h4>Why have I been invited?</h4>
        <p>
            You have been invited to the study because you have been
            prescribed anti-depressant therapy for an episode of
            depression.
        </p>

        <h4>Do I have to take part?</h4>
        <p>
            No, taking part is voluntary. If you would prefer not to
            take part you do not have to give a reason. You are free
            to withdraw at any time and without giving a reason. If
            you take part, but later change your mind, you can
            withdraw from the study at any time.  Any current or
            future healthcare that you receive will not be affected by
            deciding whether or not to take part in the study.
        </p>

        <h4>What will happen if I take part?</h4>
        <p>
            If you take part, you will be invited by phone to attend
            your GP surgery for an audio-recorded interview with a
            researcher about what your expectations are about the app
            and what experience you have with mobile phone
            technology. You do not need to have any previous
            experience with apps as you will be shown how to use it at
            the interview. If you do not wish to put the app on your
            mobile phone, or if your phone is not suitable for the
            app, the study will provide you with a suitable phone at
            no charge to you for a duration of six weeks for the
            purpose of the study only. We will phone you after three
            weeks in case there is anything you wish to discuss during
            the study. After six weeks of using the app, we will
            interview you a second time about your experience. It
            should be noted that the app is not intended to replace
            any contact you already have with health staff or services
            nor does it provide a crisis or emergency service.
        </p>

        <h4>What do I have to do if I choose to take part?</h4>
        <p>
            If you wish to take part, please return the reply slip
            using the prepaid envelope. We will then contact you and
            arrange a suitable time for the first interview. Before you
            begin the interview and are introduced to using the app, you
            will be asked to sign a consent form which indicates you have
            read this information sheet and that you are willing to take
            part in the study. We will then ask you to answer some basic
            questions about your background details and fill in two very
            short questionnaires (approximately five minutes) about taking
            anti-depressant medication). After the questionnaires, we will
            show you how to use the app so that you receive regular texts
            which are relevant to you, and so you know how to track your
            symptoms. This will then be followed by an audio-recorded
            interview about your expectations of using the app. The visit
            will take approximately one hour. For the next six weeks you
            are free to use the app as little or as much as you wish and
            you can change the configuration. There is technical help by
            phone on request if needed for the app. You will then be
            invited to take part in a second audio-recorded interview at
            the GP practice which will involve short questionnaires and
            speaking about the experience of using the app.
		</p>

        <h4>Expenses and payments</h4>
		<p>
			Travel expenses to and from the
			interview at the GP surgery can be reimbursed by the research
			team. Any costs of data, phone calls or texts made using the
			app will also be refunded. There are no expenses or costs in
			taking part to the participant.
		</p>

		<h4>What are the possible benefits of taking part?</h4>
		<p>
			There are no direct benefits to taking part in the study. If
			you take part, the information you provide will help to inform
			the research community to improve future treatment to patients
			with depression.
		</p>

        <h4>What are the possible risks of taking part?</h4>
		<p>
			Some of the questions may be considered personal or
			sensitive and answering the questions or receiving texts
			may stir up feelings. Some useful contacts have been
			provided at the end of this information sheet in case you
			would like to speak to somebody about difficult feelings
			which may arise during the period of the study. The useful
			contacts can also be viewed in the app in the help
			section.
		</p>


        <h4>Will my taking part be kept confidential?</h4>
		<p>
			Your information will be stored confidentially and
			anonymously. All participant information is stored on
			password protected computer databases and in locked filing
			cabinets and will only be accessible to the University of
			Aberdeen research team and regulatory authorities for
			auditing and monitoring purposes. You will be allocated a
			unique study number and staff not directly involved with
			you will know you only by this number. When the results of
			the study are reported, individuals who have taken part
			will not be identified in any way. The interview will not
			be replayed to anybody outside the research team unless
			for auditing and monitoring purpose by regulatory
			authorities. Anonymised direct quotes from your interview
			may be published in the study’s findings. Anonymised data
			may also be shared with researchers from other academic
			institutions
		</p>

        <h4>What if I change my mind about taking part?</h4>
		<p>
			If you decide to withdraw from the study, your standard of
			care will not be affected. You will still be asked to attend
			the routine follow-up appointments required as part of your
			standard care. These follow up appointments with your doctor
			or health service provider will not be part of the study. If
			you withdraw from the study, all information that we have
			obtained up to the point of you coming out of the study will
			continue to be used for the purpose of the study, unless you
			indicate otherwise.
		</p>

        <h4>What if there is a problem?</h4>
		<p>
			If you wish to complain about
			any aspect of the way in which you have been approached or
			treated during the course of this study, you should contact Dr
			Isobel Cameron on 01224 557966. The University has
			arrangements in place to provide for harm arising from
			participation in the study for which the University is the
			Research Sponsor.
		</p>

        <h4>Will my GP be informed of my involvement in the study?</h4>
        <p>
			Yes. We will send your GP a brief letter informing them of
			your participation in the study.
		</p>

        <h4>What will happen to any information I give?</h4>
		<p>
			The University complies with the Data Protection Act and
			all information will be treated with the strictest
			confidence. The interviews which are recorded with be sent
			to a transcription service with no identifiable
			information as we will use your unique study number. The
			results of the questionnaires will be entered anonymously
			into a data spreadsheet. Anonymised data may be shared
			with others for research purposes. The data will be
			analysed by the research team at the University of
			Aberdeen. If any of the information is needed for future
			studies, permission must be obtained from a Research
			Ethics Committee, and the data will remain anonymous.
		</p>

        <h4>How will the information I provide be used?</h4>
		<p>
			We plan to publish the results in a health journal so
			others can read about it and learn from the results of the
			study.
		</p>


        <h4>Funding</h4>
		<p>
			The research is funded by the Engineering and Physical
			Sciences Research Council.</p>

        <h4>Approval</h4>
		<p>
			This research has ethical approval from the
			North East of Scotland Research Ethics Committee, Research and
			Development and NHS Grampian.
		</p>

        <h4>If the phone is lost or stolen</h4>
		<p>
			If the phone is lost or stolen, we would appreciate if you
			could contact us (see below for Study Contacts) and let us
			know so we can cancel the data package. Alternatively we
			will be in touch after three weeks for a mid-study check
			up call and towards the end of the six weeks to confirm
			the time of the interview, and you can report
			it to us then.
		</p>

        <h4>Study Team</h4>
		<p>
			Dr Isobel Cameron, Dr Sinéad Sheehan, (Applied
			Medicine (Psychiatry), Dr Christopher Burton (Academic Primary
			Care), Dr Christopher Burnett, Professor Peter Edwards
			(Computing Science) University of Aberdeen).
		</p>

        <h4>Study Contacts</h4>
		<p>
			If you have any queries about any aspect of
			this project, please contact: Dr Sinéad Sheehan, Research
			Fellow, Applied Clinical Services (Mental Health), University
			of Aberdeen, Royal Cornhill Hospital, AB25 2ZH. Tel: 01224
			557953 email: s.sheehan@abdn.ac.uk
		</p>

    </ion-content>
</ion-view>
