<ion-nav-view></ion-nav-view>

<ion-view view-title="Home">
    <ion-content class="padding">

        <div class="list">
            <div class="item item-divider">Progress</div>
            <div class="item item-body">
                <div>
                    Graph placeholder
                </div>
            </div>
        </div>


        <ion-list class="list" show-delete="false" can-swipe="true">
            <div class="item item-divider">Messages</div>
            <ion-item class="item item-remove-animate item-icon-right" ng-repeat="message in messages" type="item-text-wrap" href="#/tab/messages/{{message.id}}">

                <h3>{{message.created_at | amCalendar}}</h3>
                <p>{{message.content}}</p>
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <!-- <ion-option-button class="button-assertive" ng-click="remove(timepoint)">-->
                <!--    Delete -->
                <!-- </ion-option-button> -->
                <ion-option-button class="button-royal" ng-click="openModal(message)">I didn't like this message</ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>


<script id="preference-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Messages</h1>
        </ion-header-bar>
        <ion-content padding="true">
            <div class="card">
                <div class="item item-text-wrap item-text-wrap">
                    <h2>Would you prefer not receiving messages about being {{message.category}}?</h2>
                    <p>You can always change this setting later in the Settings tab.</p>

                    
                    
                </div>
            </div>

        </ion-content>
    </ion-modal-view>
</script>
