<ion-nav-view></ion-nav-view>

<ion-view view-title="<span class='home-banner'>My Mood Minder</span>">
    <ion-content class="padding" style="background-image: url('{{bg_url}}'); opacity: 0.8">            
        
        <!-- MOTD -->
        <div class="card" ng-if="messages && messages.length > 0">
            <item ui-sref="tab.messages" class="item item-icon-right item-icon-left item-text-wrap">
                <i class="positive icon ion-chatbubble"></i>
                <h4 class="positive">Latest message - {{messages[0].created_at | amCalendar}}</h4>
                <h2>{{messages[0].content}}</h2>
                <button type="button" class="button button-clear button-positive button-small">
                    See all messages...
                </button>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </item>

            <item ng-if="!messages" class="item item-ion-left">
                Loading...
            </item>
        </div>

        <!-- QIDS reminder -->
        <div class="list">
            <div class="item item-divider">
                What would you like to do?
            </div>


            <ion-item ng-if="!qidsReminder && nextQidsDate" class="item-icon-left item-text-wrap">
                <i class="positive icon ion-clock"></i>
                <p>You can record your symptoms <span ng-if="!notificationPending" am-time-ago="nextQidsDate"></span><span ng-if="notificationPending">today</span>.</p>
            </ion-item>

            <a ng-if="qidsReminder || notificationPending" class="item item-icon-left item-text-wrap item-icon-right" ui-sref="tab.qids-new">
			<!--a class="item item-icon-left item-text-wrap item-icon-right" ui-sref="tab.qids-new"-->
                <i class="energized icon ion-android-alarm-clock"></i>
                <p>Tap here to create a new symptom record.</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>


            <a ui-sref="tab.qids-list" class="item item-icon-left item-icon-right">
                <i class="icon ion-stats-bars"></i>
                <p>See my symptom records</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <!-- <a ui-sref="tab.messages" class="item item-icon-left item-icon-right"> -->
            <!--     <i class="icon ion-email"></i> -->
            <!--     <p>See all received messages</p> -->
            <!--     <i class="icon ion-chevron-right icon-accessory"></i> -->
            <!-- </a> -->

            <a ui-sref="tab.settings-privacy" class="item item-icon-left item-icon-right">
                <i class="icon ion-locked"></i>
                <p>Change my privacy settings</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a ui-sref="tab.help" class="item item-icon-left item-icon-right">
                <i class="icon ion-help"></i>
                <p>Get help or information</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

        </div>
    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
