<ion-view view-title="Contact the team">
    <ion-content class="padding">
        <h5>If you have any questions or issues regarding the study, please contact:</h5>
		<ion-list class="list">
			<ion-item class="item item-text-wrap">
				Dr Sinead Sheehan<br/>
				Research Fellow<br /><br />
				Division of Applied Medicine(Psychiatry)<br />
				University of Aberdeen<br/>
				Royal Cornhill Hospital<br/>
				Aberdeen<br/>
				AB25 2ZH<br/>
				Tel: 01224 557953<br/>
				Email: s.sheehan@abdn.ac.uk
			</ion-item>
			<ion-item class="item item-text-wrap">
				Dr Isobel Cameron<br />
				Senior Lecturer<br /><br />
				Division of Applied Medicine(Psychiatry)<br />
				University of Aberdeen<br />
				Royal Cornhill Hospital<br />
				Aberdeen<br />
				AB25 2ZH<br />
				Tel: 01224 557966<br />
				Email: i.m.cameron@abdn.ac.uk
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
