<ion-view view-title="Privacy settings">

    <ion-content>

        <div class="padding">
            You can control how the information in this app is shared
            with My Mood Minder researchers.
            <a href="#" ui-sref="tab.help">How is my information stored and used?</a>
        </div>

        <div class="list">
            <ion-checkbox ng-model="user.share_qids_answers" ng-change="save(user)">Your answers to questions</ion-checkbox>
            <ion-checkbox ng-model="user.share_qids_scores" ng-change="save(user)">Your symptom scores</ion-checkbox>
            <ion-checkbox ng-model="user.share_qids_notes" ng-change="save(user)">Your personal notes</ion-checkbox>
            <ion-checkbox ng-model="user.share_messages" ng-change="save(user)">The messages you've received</ion-checkbox>
            <ion-checkbox ng-model="user.share_message_prefs" ng-change="save(user)">Your message preferences</ion-checkbox>
        </div>
        
        <div ng-if="connectionProblem" class="card card-assertive padding">
            There was a problem connecting to the server, so your
            password was not changed. Please try again later.
        </div>
        
    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
