<ion-nav-view></ion-nav-view>

<ion-view view-title="Entries">
    <ion-content class="padding">

        <button class="button button-block button-calm" ng-click="new()">New entry</button>
        
        <ion-list class="list list-inset" show-delete="false" can-swipe="true">
            
            <ion-item class="item item-remove-animate item-icon-right" ng-repeat="qids_response in qids_responses" type="item-text-wrap" href="#/tab/qids/{{qids_response.completed_at}}">
                <h2>{{qids_response.completed_at | amCalendar}}</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <!-- <ion-option-button class="button-assertive" ng-click="remove(timepoint)">-->
                <!--    Delete -->
                <!-- </ion-option-button> -->
                <ion-option-button class="button-assertive ion-trash-a" ng-click="delete(qids_response)"></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
