<ion-view view-title="Settings">
    <ion-content class="padding">
        <ion-list class="list">
            <a ui-sref="tab.messages" class="item item-icon-right">
                Message preferences
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a ui-sref="tab.privacy" class="item item-icon-right">
                Privacy preferences
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a ui-sref="tab.change-password" class="item item-icon-right">
                Change my password
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a ui-sref="tab.withdraw" class="item assertive item-icon-right">
                Withdraw from study
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>


    </ion-content>
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
