<ion-view view-title="Messages">
    <ion-content class="padding">
        <!-- Message list -->
        <div class="item item-divider dash-heading">
            Messages and information
        </div>
        <ion-list class="list" show-delete="false" can-swipe="true">
            <ion-item class="item item-remove-animate item-icon-left item-text-wrap" ng-repeat="message in messages" href="#/tab/messages/{{message.id}}">
                <i class="positive icon ion-chatbubble"></i>
                <h4 class="positive">{{message.created_at | amCalendar}}</h4>
                <h4 class="calm">{{message.category}}</h4>
                <h2>{{message.content}}</h2>
                <ion-option-button ng-if="message.preset_id" class="button-royal" ng-click="showAlert(message)">I don't want to receive messages like this</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>


    </ion-content>
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
