<ion-view view-title="Messages">
    <ion-content class="padding">
        <!-- Message list -->
        <!--div class="row swipebox">
            <div class="col-75 padding swipebox-content">
                You can hide messages from categories you don't like by swiping.
            </div>
            <div class="col-25 swipebox">
                <img src="img/Swipe_Left.png">
            </div>
        </div-->
        <ion-list class="list" show-delete="false" can-swipe="false">
            
            <ion-item class="item item-remove-animate item-icon-left item-text-wrap" ng-repeat="message in messages" href="#/tab/messages/{{message.id}}">
                <i class="positive icon ion-chatbubble"></i>
                <h4 class="positive">{{message.created_at | amCalendar}}</h4>
                <h4 class="calm">{{message.category}}</h4>
                <h2>{{message.content}}</h2>
                <ion-option-button ng-if="message.preset_id" class="button-calm" ng-click="showAlert(message)">Hide messages from the "{{message.category}}" category</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>


    </ion-content>
    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
