<ion-view view-title="Help and information">

    <ion-content class="padding">

        <div class="card">
            <div class="item item-text-wrap">
                Call your GP to make an appointment if you have any
                concerns about your health.
                <div class="gp-contact">
                    <a ng-href="tel:{{gp_contact}}" class="positive gp-contact">
                        <i class="positive icon ion-android-call"></i>
                        {{gp_contact}}
                    </a>
                </div>
            </div>
        </div>

        <div class="padding">
            Here you can find help on using this application, as well
            as a list of useful contacts and services.
        </div>

        <div class="list">
            <a ui-sref="tab.contacts" class="item item-text-wrap item-icon-right">
                Getting help and services
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a ui-sref="tab.infosheet" class="item item-text-wrap item-icon-right">
                About my mood minder
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>

            <a ui-sref="tab.contact-us" class="item item-text-wrap item-icon-right">
                Contact us
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
