<ion-view view-title="Settings">
    <ion-content>
        <div ng-if="!connectionProblem">
            <div class="padding">
                You can choose the topics of messages you'd like to receive.
            </div>
            <div class="list card">
                <div class="item item-divider">
                    I'm interested in...
                </div>
                <ion-toggle ng-repeat="mp in message_preferences" ng-model="mp.state" ng-change="save(mp)">
                    Being {{mp.title}}
                </ion-toggle>
            </div>
        </div>

        <div ng-if="connectionProblem" class="card">
            <div class="item item-text-wrap item-assertive">
                Sorry, there was a problem communicating with the server. Please try again later.
            </div>
        </div>
    </ion-content>


    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
