<ion-view view-title="Help and information">

    <ion-content class="padding">

        <div class="padding">
            <div class="card">
                <div class="item item-text-wrap">
                    If you are concerned about your symptoms or medication, contact your GP surgery on:
                    <div class="gp-contact">
                        <a ng-href="tel:{{gp_contact}}" class="positive gp-contact">
                            <i class="positive icon ion-android-call"></i>
                            {{gp_contact}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
