<ion-nav-view></ion-nav-view>

<ion-view view-title="Symptom self-monitoring">

    <ion-content class="padding">
        <!-- progress graph -->
        <div id="graph" class="list">
            <div class="item item-divider dash-heading">
                Symptom tracking
            </div>
            <div class="item item-text-wrap">
                <div class="ct-chart ct-major-seventh"></div>
            </div>
        </div>
        
        <button class="button button-block button-calm" ng-click="new()" ng-if="qidsDue">Make a new symptom record</button>

        <ion-list class="list list-inset" show-delete="false" can-swipe="true">
            <div class="item item-divider dash-heading">
                Symptom records
            </div>
            <ion-item class="item item-remove-animate item-icon-right" ng-repeat="qids_response in qids_responses" type="item-text-wrap" href="#/tab/qids/{{qids_response.completed_at}}">
                <span ng-if="!qids_response.score.isNaN()" class="badge badge-calm">{{qids_response.score}}</span>

                <h2>{{qids_response.completed_at | amCalendar}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <!-- <ion-option-button class="button-assertive" ng-click="remove(timepoint)">-->
                <!--    Delete -->
                <!-- </ion-option-button> -->
                <ion-option-button class="button-assertive ion-trash-a" ng-click="delete(qids_response)"></ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>

    <ion-nav-buttons side="secondary">
        <button class="button" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-view>
