# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
#plugins/
/old/
#/backend/Gemfile.lock
/www/css/ionic.app.min.css
/plugins/android.json
/doc/notifications_sequence.graffle
/backend/event.log
